In [90]:
# importing pandas

import pandas as pd

In [91]:
# to load the dataset

df = pd.read_csv('D:\Full Stack Development\Project ( GitHub )\PredictXpert\Datasets/Admission_Prediction_Dataset.csv')

In [92]:
# to display the first 5 data's

df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [93]:
# to display about the total number of rows and columns in the dataset

df.shape

(500, 9)

In [94]:
# to get detail information about the datset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [95]:
# to know about how may data's are null in the dataframe

df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [96]:
# Since we can see that there exist no Null data in the dataset thus we do not require a lot of Preprocessing in the dataset
#  to generate descriptive statistics for the numerical columns (or series) in a DataFrame

df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [97]:
# to define about the columns so that we can decide which one will be our Feature and Target

df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [98]:
# Choosing the features which will help us in predicting the Target which is 'Chance of Admit' here

x = df[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']]
print(x)

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
495        332          108                  5  4.5   4.0  9.02         1
496        337          117                  5  5.0   5.0  9.87         1
497        330          120                  5  4.5   5.0  9.56         1
498        312          103                  4  4.0   5.0  8.43         0
499        327          113                  4  4.5   4.5  9.04         0

[500 rows x 7 columns]

In [99]:
# to know about the shape of Features

x.shape

(500, 7)

In [100]:
# Choosing the target and storing it sepeartely

y = df['Chance of Admit ']
print(y)

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit , Length: 500, dtype: float64

In [101]:
# to know about the shape of Target

y.shape

(500,)

In [102]:
# Splitting the above data into training and testing data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.3,random_state = 9598)

In [103]:
# to know about the shape of traing and testing data

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(350, 7)
(150, 7)
(350,)
(150,)

In [104]:
# As it is the Regrssion Problem lets try all the Regression Algorith to get the best accuracy

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [105]:
# To train and fit the model

model.fit(x_train,y_train)

LinearRegression()

In [106]:
# to predict the data

y_pred = model.predict(x_test)

In [107]:
# to print the prexicted value for the test data

y_pred

array([0.79923414, 0.67723947, 0.95671885, 0.92157267, 0.66444449,
       0.96123962, 0.84076317, 0.53456264, 0.77192393, 0.71525584,
       0.83963037, 0.65741268, 0.66334637, 0.71538738, 0.6823679 ,
       0.82553185, 0.78448413, 0.65737633, 0.58944896, 0.8331021 ,
       0.6561598 , 0.7077424 , 0.73055486, 0.64509079, 0.65865189,
       0.60451852, 0.68583562, 0.93800579, 0.54055376, 0.81924767,
       0.73463592, 0.51984647, 0.81975704, 0.57395869, 0.83315275,
       0.65862754, 0.6986925 , 0.88777954, 0.72962367, 0.58479597,
       0.82243558, 0.85359066, 0.80583181, 0.65409698, 0.61729065,
       0.89524483, 0.79355473, 0.63740104, 0.7703151 , 0.69930283,
       0.7556229 , 0.78762792, 0.78614606, 0.62136561, 0.74095464,
       0.79622805, 0.64580851, 0.76030678, 0.75756741, 0.85105867,
       0.7267098 , 0.80631106, 0.59007543, 0.76667176, 0.71822737,
       0.5676355 , 0.72564408, 0.62468566, 0.92059182, 0.68768656,
       0.75268716, 0.85559843, 0.85395691, 0.56585476, 0.69778277,
       0.70704017, 0.79838439, 0.66257661, 0.75994609, 0.66873232,
       0.85602563, 0.90518843, 0.58728987, 0.75204312, 0.9379422 ,
       0.62891091, 0.59529989, 0.77597414, 0.94724222, 0.76276474,
       0.66413079, 0.90223355, 0.58530745, 0.80978142, 0.76814601,
       0.55845401, 0.70886965, 0.94258998, 0.93081693, 0.58298112,
       0.71730979, 0.51126887, 0.51364817, 0.61331417, 0.71786465,
       0.54474097, 0.85262919, 0.80992956, 0.77114988, 0.7019029 ,
       0.54028651, 0.83097219, 0.65593743, 0.90189275, 0.51976945,
       0.98776645, 0.64476878, 0.65299359, 0.46794339, 0.69769667,
       0.64928503, 0.62961368, 0.74073464, 0.93796959, 0.61126764,
       0.80542675, 0.51460084, 0.7822726 , 0.44671861, 0.50434852,
       0.71266929, 0.64219325, 0.64179393, 0.72176408, 0.65172667,
       0.8978466 , 0.70569187, 0.70486378, 0.60162922, 0.63828522,
       0.88633729, 0.87381008, 0.65968096, 0.74651475, 0.57312619,
       0.88641807, 0.71464323, 0.61368459, 0.61318095, 0.54272937])

In [108]:
# to know what the orignal prediction was for the testing data

y_test

48     0.82
125    0.64
384    0.96
22     0.94
238    0.70
       ...
285    0.93
31     0.74
352    0.64
158    0.61
455    0.59
Name: Chance of Admit , Length: 150, dtype: float64

In [109]:
# to Calculate the Accuracy of the Model

from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [110]:
# to print the mean absolute error

mean_absolute_error(y_test,y_pred)

0.04137589205760308

In [111]:
# to print the mean absolute percentage

per_e = mean_absolute_percentage_error(y_test,y_pred)
per_e

0.06789110722674732

In [112]:
# to print the accuracy in percentage

accuracy = (1-per_e)*100
accuracy

93.21088927732526

In [113]:
# to print the mean squared error

mean_squared_error(y_test,y_pred)

0.003439502573503818

Trying the other models so that we can use the algorithm which will give best accuracy

In [114]:
# KNeighbors Regressor

from sklearn.neighbors import KNeighborsRegressor
model2 = KNeighborsRegressor() 
model2.fit(x_train,y_train)
y_pred2 = model2.predict(x_test)
error2 = mean_absolute_percentage_error(y_test,y_pred2)
acc2 = (1-error2)*100
acc2

91.12547773580656

In [115]:
# DecisionTree Regressor

from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor()
model3.fit(x_train,y_train)
y_pred3 = model3.predict(x_test)
error3 = mean_absolute_percentage_error(y_test,y_pred3)
acc3 = (1-error3)*100
acc3

88.95856613077568

In [116]:
# RandomForest Regressor

from sklearn.ensemble import RandomForestRegressor
model4 = RandomForestRegressor()
model4.fit(x_train,y_train)
y_pred4 = model4.predict(x_test)
error4 = mean_absolute_percentage_error(y_test,y_pred4)
acc4 = (1-error4)*100
acc4

92.44691416356187

In [117]:
print("The Acuuracy of Linear Regressor is ",accuracy)
print("The Acuuracy of KNeighbors Regressor is ",acc2)
print("The Acuuracy of DecisionTree Regressor is ",acc3)
print("The Acuuracy of RandomForest Regressor is ",acc4)

The Acuuracy of Linear Regressor is  93.21088927732526
The Acuuracy of KNeighbors Regressor is  91.12547773580656
The Acuuracy of DecisionTree Regressor is  88.95856613077568
The Acuuracy of RandomForest Regressor is  92.44691416356187

In [118]:
# Saving the model so that we can just call this trained model for the input given by the user from the frontend

# import pickle
# pickle.dump(model,open('admissonModel.pkl','wb'))