In [1]:
# importing pandas

import pandas as pd

In [2]:
# to load the dataset

df = pd.read_csv('D:\Full Stack Development\Project ( GitHub )\PredictXpert\Datasets/CGPA_Prediction_Dataset.csv')

In [3]:
# to display the first 5 data's

df.head(5)

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16

In [4]:
# to see the last 5 data's

df.tail(5)

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
173,7.48,7.55,7.67,7.39,8.65,241,F,17048.0,NaN,28
174,7.30,6.41,6.59,7.11,7.38,241,M,17049.0,NaN,28
175,6.30,6.28,5.89,5.71,6.50,241,M,17050.0,NaN,28
176,7.04,7.10,6.81,7.00,6.92,241,M,17051.0,NaN,28
177,6.70,6.81,6.52,5.39,7.00,241,M,17052.0,NaN,28

In [5]:
# to display about the total number of rows and columns in the dataset

df.shape

(178, 10)

In [6]:
# to get detail information about the datset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1st           176 non-null    float64
 1   2nd           174 non-null    float64
 2   3rd           176 non-null    float64
 3   4th           173 non-null    float64
 4   5th           172 non-null    float64
 5   College Code  178 non-null    int64
 6   Gender        177 non-null    object
 7   Roll          132 non-null    float64
 8   Roll no.      46 non-null     float64
 9   Subject Code  178 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 14.0+ KB

In [7]:
# to know about how may data's are null in the dataframe

df.isnull().sum()

1st               2
2nd               4
3rd               2
4th               5
5th               6
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [8]:
# to define about the columns so that we can decide which one will be our Feature and Target

df.columns

Index(['1st', '2nd', '3rd', '4th', '5th', 'College Code', 'Gender', 'Roll',
       'Roll no.', 'Subject Code'],
      dtype='object')

In [9]:
df['Gender'].value_counts()

Male      80
M         69
Female    17
F         11
Name: Gender, dtype: int64

In [10]:
df['Gender'].replace({'Female':'F','Male':'M'},inplace=True)

In [11]:
df['Gender'].value_counts()

M    149
F     28
Name: Gender, dtype: int64

In [12]:
df['College Code'].value_counts()

116    51
115    46
165    46
241    35
Name: College Code, dtype: int64

In [13]:
df['Subject Code'].value_counts()

16    143
28     35
Name: Subject Code, dtype: int64

In [14]:
# selecting only the relevant colums

df1= df[['1st','2nd', '3rd', '4th','5th']]

In [15]:
# checking how many nulls values are present in the columns

df1.isnull().sum()

1st    2
2nd    4
3rd    2
4th    5
5th    6
dtype: int64

In [16]:
# to fill the null values with the mean of that columns

df1['1st'].fillna(df1['1st'].mean(),inplace = True) 
df1['2nd'].fillna(df1['2nd'].mean(),inplace = True) 
df1['3rd'].fillna(df1['3rd'].mean(),inplace = True) 
df1['4th'].fillna(df1['4th'].mean(),inplace = True) 
df1['5th'].fillna(df1['5th'].mean(),inplace = True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18764\348139918.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['1st'].fillna(df1['1st'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18764\348139918.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['2nd'].fillna(df1['2nd'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18764\348139918.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['3rd'].fillna(df1['3rd'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18764\348139918.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['4th'].fillna(df1['4th'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18764\348139918.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['5th'].fillna(df1['5th'].mean(),inplace = True)

In [17]:
df1.isnull().sum()

1st    0
2nd    0
3rd    0
4th    0
5th    0
dtype: int64

In [18]:
x = df1[['1st','2nd','3rd','4th']] 
y = df1['5th']

In [19]:
# Splitting the above data into training and testing data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2,random_state = 9598)

In [20]:
# to know about the shape of traing and testing data

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(142, 4)
(36, 4)
(142,)
(36,)

In [21]:
# As it is the Regrssion Problem lets try all the Regression Algorith to get the best accuracy

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [22]:
# To train and fit the model

model.fit(x_train,y_train)

LinearRegression()

In [23]:
# to predict the data

y_pred = model.predict(x_test)

In [24]:
# to print the prexicted value for the test data

y_pred

array([5.06476148, 7.40015398, 7.1418265 , 6.15114241, 7.72540621,
       7.39831475, 8.54291432, 7.68472306, 7.73464719, 6.74120054,
       6.11392775, 8.11735633, 9.37238823, 6.43482581, 6.59072723,
       5.46181326, 7.11978302, 8.3867481 , 8.66979197, 8.7406681 ,
       7.68948193, 8.82336244, 7.46132868, 6.67091214, 9.94203212,
       6.91683808, 8.13990011, 9.54598164, 8.1044739 , 9.01065155,
       7.05858672, 6.96550524, 7.47198607, 6.71676041, 6.52007686,
       7.9692951 ])

In [25]:
# to know what the orignal prediction was for the testing data

y_test

47     6.180000
174    7.380000
26     6.890000
12     6.750000
171    7.500000
60     7.570000
32     8.820000
159    7.380000
68     8.360000
64     7.000000
92     6.930000
53     8.500000
31     8.500000
125    6.750000
83     6.750000
40     4.860000
13     7.000000
25     8.360000
112    8.000000
21     8.930000
163    7.350000
39     8.890000
57     8.040000
131    7.390000
135    9.460000
85     6.250000
145    7.310000
115    9.190000
70     8.570000
111    9.110000
9      6.180000
104    6.750000
91     7.432558
84     7.960000
77     6.180000
67     8.180000
Name: 5th, dtype: float64

In [26]:
# to Calculate the Accuracy of the Model

from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [27]:
# to print the mean absolute error

mean_absolute_error(y_test,y_pred)

0.43147763457003

In [28]:
# to print the mean absolute percentage

per_e = mean_absolute_percentage_error(y_test,y_pred)
per_e

0.05958092102737954

In [29]:
# to print the accuracy in percentage

accuracy = (1-per_e)*100
accuracy

94.04190789726205

In [30]:
# to print the mean squared error

mean_squared_error(y_test,y_pred)

0.2819540443335011

In [31]:
# KNeighbors Regressor

from sklearn.neighbors import KNeighborsRegressor
model2 = KNeighborsRegressor() 
model2.fit(x_train,y_train)
y_pred2 = model2.predict(x_test)
error2 = mean_absolute_percentage_error(y_test,y_pred2)
acc2 = (1-error2)*100
acc2

94.57639120744228

In [32]:
# DecisionTree Regressor

from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor()
model3.fit(x_train,y_train)
y_pred3 = model3.predict(x_test)
error3 = mean_absolute_percentage_error(y_test,y_pred3)
acc3 = (1-error3)*100
acc3

91.81573147649884

In [33]:
# RandomForest Regressor

from sklearn.ensemble import RandomForestRegressor
model4 = RandomForestRegressor()
model4.fit(x_train,y_train)
y_pred4 = model4.predict(x_test)
error4 = mean_absolute_percentage_error(y_test,y_pred4)
acc4 = (1-error4)*100
acc4

93.51828056802374

In [34]:
print("The Acuuracy of Linear Regressor is ",accuracy)
print("The Acuuracy of KNeighbors Regressor is ",acc2)
print("The Acuuracy of DecisionTree Regressor is ",acc3)
print("The Acuuracy of RandomForest Regressor is ",acc4)

The Acuuracy of Linear Regressor is  94.04190789726205
The Acuuracy of KNeighbors Regressor is  94.57639120744228
The Acuuracy of DecisionTree Regressor is  91.81573147649884
The Acuuracy of RandomForest Regressor is  93.51828056802374

In [35]:
import pickle
with open('cgpaModel.pkl','wb') as f:
    pickle.dump(model2,f)