In [48]:
# importing pandas

import pandas as pd

In [49]:
# to load the dataset

df = pd.read_csv('D:\Full Stack Development\Project ( GitHub )\PredictXpert\Datasets/CGPA_Prediction_Dataset.csv')

In [50]:
# to display the first 5 data's

df.head(5)

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16

In [51]:
# to see the last 5 data's

df.tail(5)

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
173,7.48,7.55,7.67,7.39,8.65,241,F,17048.0,NaN,28
174,7.30,6.41,6.59,7.11,7.38,241,M,17049.0,NaN,28
175,6.30,6.28,5.89,5.71,6.50,241,M,17050.0,NaN,28
176,7.04,7.10,6.81,7.00,6.92,241,M,17051.0,NaN,28
177,6.70,6.81,6.52,5.39,7.00,241,M,17052.0,NaN,28

In [52]:
# to display about the total number of rows and columns in the dataset

df.shape

(178, 10)

In [53]:
# to get detail information about the datset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1st           176 non-null    float64
 1   2nd           174 non-null    float64
 2   3rd           176 non-null    float64
 3   4th           173 non-null    float64
 4   5th           172 non-null    float64
 5   College Code  178 non-null    int64
 6   Gender        177 non-null    object
 7   Roll          132 non-null    float64
 8   Roll no.      46 non-null     float64
 9   Subject Code  178 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 14.0+ KB

In [54]:
# to know about how may data's are null in the dataframe

df.isnull().sum()

1st               2
2nd               4
3rd               2
4th               5
5th               6
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [55]:
# to define about the columns so that we can decide which one will be our Feature and Target

df.columns

Index(['1st', '2nd', '3rd', '4th', '5th', 'College Code', 'Gender', 'Roll',
       'Roll no.', 'Subject Code'],
      dtype='object')

In [56]:
df['Gender'].value_counts()

Male      80
M         69
Female    17
F         11
Name: Gender, dtype: int64

In [57]:
df['Gender'].replace({'Female':'F','Male':'M'},inplace=True)

In [59]:
df['Gender'].value_counts()

M    149
F     28
Name: Gender, dtype: int64

In [60]:
df['College Code'].value_counts()

116    51
115    46
165    46
241    35
Name: College Code, dtype: int64

In [64]:
df['Subject Code'].value_counts()

16    143
28     35
Name: Subject Code, dtype: int64

In [65]:
# selecting only the relevant colums

df1= df[['1st','2nd', '3rd', '4th','5th']]

In [66]:
# checking how many nulls values are present in the columns

df1.isnull().sum()

1st    2
2nd    4
3rd    2
4th    5
5th    6
dtype: int64

In [67]:
# to fill the null values with the mean of that columns

df1['1st'].fillna(df1['1st'].mean(),inplace = True) 
df1['2nd'].fillna(df1['2nd'].mean(),inplace = True) 
df1['3rd'].fillna(df1['3rd'].mean(),inplace = True) 
df1['4th'].fillna(df1['4th'].mean(),inplace = True) 
df1['5th'].fillna(df1['5th'].mean(),inplace = True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12572\348139918.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['1st'].fillna(df1['1st'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12572\348139918.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['2nd'].fillna(df1['2nd'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12572\348139918.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['3rd'].fillna(df1['3rd'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12572\348139918.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['4th'].fillna(df1['4th'].mean(),inplace = True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12572\348139918.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['5th'].fillna(df1['5th'].mean(),inplace = True)

In [68]:
df1.isnull().sum()

1st    0
2nd    0
3rd    0
4th    0
5th    0
dtype: int64

In [69]:
x = df1[['1st','2nd','3rd','4th']] 
y = df1['5th']

In [70]:
# Splitting the above data into training and testing data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.3,random_state = 9598)

In [71]:
# to know about the shape of traing and testing data

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(124, 4)
(54, 4)
(124,)
(54,)

In [72]:
# As it is the Regrssion Problem lets try all the Regression Algorith to get the best accuracy

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [73]:
# To train and fit the model

model.fit(x_train,y_train)

LinearRegression()

In [74]:
# to predict the data

y_pred = model.predict(x_test)

In [75]:
# to print the prexicted value for the test data

y_pred

array([5.11115288, 7.41736369, 7.21063022, 6.12123474, 7.7305551 ,
       7.3651804 , 8.5730552 , 7.69780981, 7.71236922, 6.71986816,
       6.1464258 , 8.17254901, 9.44952658, 6.47351094, 6.46479576,
       5.55317728, 7.07825303, 8.37991149, 8.71177804, 8.80464469,
       7.65211447, 8.84045512, 7.48951009, 6.74961071, 9.94503913,
       6.94005092, 8.11436139, 9.61301229, 8.08189308, 9.00301493,
       7.10705672, 7.04570324, 7.46806903, 6.69358055, 6.50606284,
       8.00634244, 7.84530622, 6.15743595, 7.96843607, 7.43844372,
       8.48284691, 8.95784013, 6.62013685, 8.79966329, 6.4939923 ,
       6.06087011, 7.3288392 , 6.79526376, 7.13136529, 6.48546327,
       5.38122993, 8.11687555, 8.15435383, 8.74119751])

In [76]:
# to know what the orignal prediction was for the testing data

y_test

47     6.180000
174    7.380000
26     6.890000
12     6.750000
171    7.500000
60     7.570000
32     8.820000
159    7.380000
68     8.360000
64     7.000000
92     6.930000
53     8.500000
31     8.500000
125    6.750000
83     6.750000
40     4.860000
13     7.000000
25     8.360000
112    8.000000
21     8.930000
163    7.350000
39     8.890000
57     8.040000
131    7.390000
135    9.460000
85     6.250000
145    7.310000
115    9.190000
70     8.570000
111    9.110000
9      6.180000
104    6.750000
91     7.432558
84     7.960000
77     6.180000
67     8.180000
48     7.610000
147    5.310000
173    8.650000
72     7.680000
123    8.290000
59     8.890000
17     6.610000
2      7.750000
86     7.500000
94     6.000000
3      6.890000
129    7.790000
121    6.540000
151    5.350000
1      4.960000
89     8.610000
8      8.000000
35     8.710000
Name: 5th, dtype: float64

In [77]:
# to Calculate the Accuracy of the Model

from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [78]:
# to print the mean absolute error

mean_absolute_error(y_test,y_pred)

0.45281963907720324

In [79]:
# to print the mean absolute percentage

per_e = mean_absolute_percentage_error(y_test,y_pred)
per_e

0.06410593231310088

In [80]:
# to print the accuracy in percentage

accuracy = (1-per_e)*100
accuracy

93.58940676868991

In [81]:
# to print the mean squared error

mean_squared_error(y_test,y_pred)

0.318362970150285

In [82]:
# KNeighbors Regressor

from sklearn.neighbors import KNeighborsRegressor
model2 = KNeighborsRegressor() 
model2.fit(x_train,y_train)
y_pred2 = model2.predict(x_test)
error2 = mean_absolute_percentage_error(y_test,y_pred2)
acc2 = (1-error2)*100
acc2

93.56585152897208

In [83]:
# DecisionTree Regressor

from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor()
model3.fit(x_train,y_train)
y_pred3 = model3.predict(x_test)
error3 = mean_absolute_percentage_error(y_test,y_pred3)
acc3 = (1-error3)*100
acc3

91.46180351446039

In [84]:
# RandomForest Regressor

from sklearn.ensemble import RandomForestRegressor
model4 = RandomForestRegressor()
model4.fit(x_train,y_train)
y_pred4 = model4.predict(x_test)
error4 = mean_absolute_percentage_error(y_test,y_pred4)
acc4 = (1-error4)*100
acc4

93.64772355239727

In [85]:
print("The Acuuracy of Linear Regressor is ",accuracy)
print("The Acuuracy of KNeighbors Regressor is ",acc2)
print("The Acuuracy of DecisionTree Regressor is ",acc3)
print("The Acuuracy of RandomForest Regressor is ",acc4)

The Acuuracy of Linear Regressor is  93.58940676868991
The Acuuracy of KNeighbors Regressor is  93.56585152897208
The Acuuracy of DecisionTree Regressor is  91.46180351446039
The Acuuracy of RandomForest Regressor is  93.64772355239727